<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title th:replace="~{/include/title.html::title}"></title>

	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">
	<link rel="stylesheet" th:href="@{/css/admin/create_account_form.css}">



	<script th:src="@{/js/admin/create_account_form.js}" type="text/javascript"></script>

</head>

<body>

<header th:replace="~{/include/header_nav_footer.html::header}">
</header>

<section>
	<div id="section_wrap">
		<div class="container">
			<form th:action="@{/admin/create_account_confirm}" name="create_account_form" method="post">
				<p>CREATE ACCOUNT FORM</p>
				<span>ID</span><br><input type="text" name="a_id" placeholder="INPUT ID"><br>
				<span>PW</span><br><input type="password" name="a_pw" placeholder="INPUT PW"><br>
				<span>EMAIL</span><br><input type="email" name="a_mail" placeholder="INPUT MAIL"><br>
				<span>PHONE</span><br><input type="text" name="a_phone" placeholder="INPUT PHONE"><br><br>

				<input type="button" value="create account" onclick="createAccountForm();">&nbsp;&nbsp;
				<input type="reset" value="reset">
			</form>

			<div class="drops">
				<div class="drop drop-1"></div>
				<div class="drop drop-2"></div>
				<div class="drop drop-3"></div>
				<div class="drop drop-4"></div>
				<div class="drop drop-5"></div>
			</div>

			<br>
			<div class="go_login_form">
				이미 계정이 있으신가요? <a th:href="@{/admin/admin_login_form}">로그인</a>
			</div>
		</div>

	</div>
</section>

<footer></footer>

</body>

</html>