<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:replace="~{/include/title.html::title}"></title>
	<script th:fragment="jquery_cdn" src="https://code.jquery.com/jquery-3.7.0.js"
			integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">
	<link rel="stylesheet" th:href="@{/css/admin/myPage.css}">
	<link rel="stylesheet" th:href="@{/css/admin/modify_account_form.css}">

	<script th:src="@{/js/admin/create_youtube_channel_form.js}" type="text/javascript"></script>
</head>

<body>
<header th:replace="~{/include/header_nav_footer.html::header}"/>

<section>
	<div class="section_wrap">
		<div th:insert="~{/include/admin_nav_left.html::div}"/>
		<div class="section_body">
			<div id="section_wrap">
				<div class="container">
					<form th:action="@{/admin/create_youtube_channel_confirm}" name="create_channel_form" method="post"
						  enctype="multipart/form-data" style="height: 850px; top: -200px ">
						<p>CREATE CHANNEL</p>
						&nbsp;<span>CHANNEL</span><br><input type="text" name="yc_channel" placeholder="INPUT CHANNEL"><br>
						&nbsp;<span>BRING CNT</span><br><input type="number" name="yc_bring_cnt" placeholder="INPUT BRING CNT"><br>
						 <span>SHOW CNT</span><br><input type="number" name="yc_show_cnt" placeholder="INPUT SHOW CNT"><br>
						 <select class="form-control col-lg-2 required" name="u_state">
							<option th:value="0" th:text="미사용"></option>
							<option th:value="1" th:text="사용"></option>
						 </select><br>
						<input type="button" class="btn_create" value="create" onclick="createChannelForm()">&nbsp;&nbsp;
						<input type="reset" value="reset">
					</form>
					<div class="drops">
						<div class="drop drop-1"></div>
						<div class="drop drop-3"></div>
						<div class="drop drop-4"></div>
						<div class="drop drop-5"></div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

</body>

</html>


