<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="~{/include/title.html::title}"></title>
    <script th:fragment="jquery_cdn" src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_header_sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/admin/user_list.css}">

    <script th:replace="~{/include/list_search_js.html::js}" type="text/javascript"></script>

</head>

<body>
<header th:replace="~{/admin/include/admin_header_sidebar.html::header}"></header>

<section id="section_wrap">
    <div th:replace="~{/admin/include/admin_header_sidebar.html::sidebar}"></div>
    <div class="admin_section_wrap">
        <div class="section_body">
            <div class="container">
                <h2 class="section_title">
                    채널 관리
                </h2>
                <div class="search_wrap">
                    <div class="search_area">
                        <input class="form-control2" type="text" name="keyword">
                        <button class="form-control line btn-black" onclick="search();">검색</button>

                        <a class="reg" th:href="@{/admin/create_youtube_channel_form}">채널 등록</a>
                    </div>
                </div>
                <div id="url" class="youtube_channel_list">
                    <table class="table table-board">
                        <thead>
                        <tr>
                            <th style="width: 40%" >채널</th>
                            <th style="width: 10%">영상개수</th>
                            <th style="width: 30%">수정일</th>
                            <th style="width: 10%">상태</th>
                            <th style="width: 10%">수정</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="channelDto : ${ChannelDtos}">
                            <td  th:text="${#strings.abbreviate(channelDto.yc_channel,15)}"></td>
                            <td style="text-align: center"  th:text="${channelDto.yc_bring_cnt}"></td>
                            <td style="text-align: center"  th:text="${channelDto.yc_reg_date}"></td>
                            <td th:if="${channelDto.yc_state == 0 }">삭제</td>
                            <td th:if="${channelDto.yc_state == 1 }">사용</td>
                            <td><a class="update" th:href="@{/admin/youtube_channel_list_detail(no = ${channelDto.yc_no})}">수정</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="page_wrap">
            <div class="page_number">
            </div>
        </div>
    </div>
    </div>

    </div>
</section>

</body>

</html>


