#section_wrap {
    margin: 15px 25px;
}

.board_word,
.product_word,
.youtube_word{
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    color: #d3b489;
    margin-bottom: 20px;
}


.board_wrap,
.product_wrap,
.youtube_wrap {
    border-top: 1px solid #dadada;
    padding-top: 20px;
    margin: 0 auto;
}

.boards,
.products,
.videos{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}


.more_contents {
    /*margin-right: 25px;*/
    float: right;
}

input[type="button"] {
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.board_items {
    margin-right: 10px;
    text-align: center;
    width: 310px;
    display: inline-block;
}

.today_board > img {
    width: 100%;
    height: 200px;
}

.today_board .board_title {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.today_board .heart,
.today_board .hit {
    width: 20px;
    height: 20px;
}

.board_wrap span{
    vertical-align: 5px;
    margin-right: 5px;
}

.today_board .board_author {
    float: right;
    font-size: 0.9em;
    color: #939393;
}

.like_board_btn .empty_heart,
.like_board_btn .full_heart,
.like_product_btn .empty_heart,
.like_product_btn .full_heart,
.like_youtube_btn .empty_heart,
.like_youtube_btn .full_heart {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

img.hit {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    vertical-align: -5px
}

.hit {
    width: 20px;
    height: 20px;
}

.product_wrap span{
    vertical-align: 5px;
    margin-right: 5px;
}

.product_items {
    padding: 15px;
    margin-right: 15px;
    text-align: center;
    height: 400px;
    width: 270px;
    display: inline-block;
}

.product_img > img {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
}


.today_product .product_img > img:hover {
    transform:scale(1.1);
    transition: transform .35s;
}


.today_product .product_brand {
    font-size: 0.9em;
    color: #dadada;
    float: left;
    font-weight: bold;
}

.today_product .product_name {

    float: left;
    text-align: left;
    margin-bottom: 5px;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; /* 넘치는 부분 숨김 */
    text-overflow: ellipsis; /* 텍스트 생략 부호(...) 표시 */
}

.today_product .product_sales_price_tag {
    float: right;
    font-size: 1.2em;
    color: #d3b489;
    font-weight: bold;
}

.today_product .product_sales_price {
    margin-left: 5px;
    float: right;
    font-size: 1.2em;
    font-weight: bold;
}

.today_product .title {
    padding: 5px 10px;
}

.product_items .like_hit_wrap{
    margin-top: 10px;
    justify-items: right;
    padding-left: 100px;
    width: 100%;
}

.today_product .heart,
.today_product .hit {
    width: 20px;
    height: 20px;
}

div.youtube_wrap {
    width: 100%;
}

div.videos {
    padding-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
}

div.videos iframe {
    margin-right: 10px;
}

div.youtube_items {
    margin: 0 auto;
    padding: 20px;
    width: 650px;
    display: flex;
}

div.youtube_items h3 {
    font-size: 1.3em;
}

div.youtube_items iframe {
    border-radius: 15px;
}

div.youtube_items_detail {
    margin: 0 auto;
    padding: 10px;
}

h3.youtube_title {
    font-size: 24px;
    font-weight: bold;
}

span.youtube_channel {
    font-size: 18px;
    color: #aeaeae;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}

div.like_channel_wrap {
    margin: 20px 0;
    display: flex;
    align-items: center;
    height: 20px;
    padding-right: 10px;
}

.like_count,
.hit_count {
    line-height: 5px;
    font-size: 18px;
}
