/* custom.css */
header {
    z-index: 1;
}

.section_wrap {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
}

.side_bar {
    text-align: center;
    background-color: rgba(211, 211, 211, 0.59);
    width: 250px;
    height: 190vh;
}

.side_bar img.user_img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.side_bar img.user_img {
    margin-top: 20px;
}

.side_bar p {
    font-weight: bold;
    padding-bottom: 10px;
    position: relative; /* 부모 요소 위치 기준으로 사용하기 위해 */
}

.side_bar p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%; /* 조절하여 가운데 정렬 조정 */
    width: 80%; /* 조절하여 길이 조정 */
    border-bottom: 1px solid rgba(148, 148, 148, 0.73); /* 회색 수평 구분선 */
}

.side_bar li {
    display: inline-block;
    width: 80%;
    padding: 10px;
}

.side_bar li:hover {
    background-color: #d2d2d2;
}

.word {
    font-size: 24px;
    padding: 20px;
}

.section_body{
    position: absolute;
    top : 150px;
    left: 150px;
    width: 1500px;
    margin: 0 auto;
}

.section_body img.user_img {
    width: 200px;
    height: 200px;
}


.detail_category {
    align-items: center;
    margin-left: 150px;
    margin-top: 50px;
}

.detail_category select {
    text-align: center;
    margin-bottom: 30px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    background-color: #eeeeee;
    padding: 10px;
}

.detail_category a.write {
    margin-right: 100px;
    float: right;
    background-color: rgb(237, 175, 175) ;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.board_wrap {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.board_wrap > p {
    margin-left: 100px;
}

.board_wrap p {
    float: left;
    text-align: left;
    font-size: 1.1em;
    margin-top: 15px;
}

.board_wrap table {
    width: 100%;
    margin-left: 90px;
}

.board_wrap td {
    width: 25%;
    padding: 10px;
}

.board_wrap tbody img.board_img {
    width: 100%;
    height: 180px;
}

.board_wrap tbody p.title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.board_wrap tbody img.profile_img {
    width: 30px;
    height: 30px;
    border-radius: 25px;
}

.board_wrap tbody span.user_name {
    vertical-align: 5px;
    color: #989898;
}