section {
    margin: 40px 0;
    border-top: 1px solid #dadada;
}

div.search_youtube_wrap{
    width: 800px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    position: relative;
}

div.search_youtube_wrap input[name="p_search"]{
    width: 600px;
    height: 30px;
    line-height: 30px;
    padding: 10px 20px;
    border-radius: 25px;
    margin-right: 10px;
    font-size: 18px;
    border: 1px solid #dadada;
}

div.search_youtube_wrap svg.search_btn {
    position: absolute;
    top:16px;
    right:100px;
    cursor: pointer;
}


div.youtube_item_list {
    width: 100%;
    padding-top: 20px;
}

div.youtube_item {
    width: 1200px;
    padding: 20px;
    margin: 0 auto 30px;
}

div.youtube_item iframe {
    border-radius: 15px;
}

div.youtube_item_detail {
    width: 500px;
    height: 210px;
    margin: 0 auto;
    float: right;
    padding: 20px;
}

h3.youtube_title {
    font-size: 28px;
    font-weight: bold;
}

span.youtube_channel {
    font-size: 22px;
    color: #aeaeae;
    font-weight: bold;
    display: inline-block;
    width: 200px;
}

div.like_channel_wrap {
    margin: 20px 0;
    display: flex;
    align-items: center;
    height: 20px;
    padding-right: 10px;
}

.empty_heart,
.full_heart {
    max-width: 30px;
    min-width: 30px;
    margin-right: 7px;
}

a.like_board_btn {
    display: flex;
    align-items: center;
}

.like_count {
    line-height: 18px;
    font-size: 18px;
}


/*필터링*/

/**/

section #section_wrap > div.page_wrap {
    width: 98%;
    margin: 30px auto 50px;
    text-align: center;

}

section #section_wrap > div.page_wrap > div.page_number {
    display: inline-block;
}

section #section_wrap > div.page_wrap > div.page_number a {
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-decoration: none;
    display: inline-block;
    margin: 0 3px;
    color: #3c3c3c;
    background-color: #fff;
    border: 1px solid #ccc;
}

section #section_wrap > div.page_wrap > div.page_number a:hover {
    background-color: #e3e6e8;
}

section #section_wrap > div.page_wrap > div.page_number a.selectedPageNum {
    color: #fff;
    font-weight: bolder;
    border: 1px solid #232f3d;
    background-color: #232f3d;
}

div.like_hit_wrap{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 20px;
    padding-right: 10px;
}

.empty_heart,
.full_heart{
    max-width: 20px;
    min-width: 20px;
    margin-right: 7px;
}

a.like_board_btn {
    display: flex;
    align-items: center;
}

.like_count {
    line-height: 18px;
    font-size: 18px;
}

div.hit_area{
    margin-left: 15px;
    display: flex;
    align-items: center;
}

img.hit_img {
    max-width: 30px;
    min-width: 30px;
}

span.hit_count {
    margin-left: 7px;
    line-height: 18px;
    font-size: 18px;
}