<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.house.admin.IAdminDaoMapper">

    <select id="selectAdminForLogin" parameterType="com.office.house.admin.AdminDto" resultType="com.office.house.admin.AdminDto">

        SELECT * FROM tbl_admin WHERE a_id = #{a_id}

    </select>

    <select id="isAdmin" parameterType="String" resultType="Boolean">

        select count(*) from tbl_admin where a_id = #{a_id}

    </select>

    <insert id="insertNewAccount" parameterType="com.office.house.admin.AdminDto">
        insert into tbl_admin(a_id, a_pw, a_mail, a_phone, a_reg_date, a_mod_date)
        values (#{a_id}, #{a_pw}, #{a_mail}, #{a_phone}, now(), now())
    </insert>

    <update id="adminModifyConfirm"  parameterType="com.office.house.admin.AdminDto">

        update tbl_admin set a_pw = #{a_pw}, a_mail = #{a_mail} ,a_phone = #{a_phone} ,a_mod_date = now() where a_no = #{a_no}

    </update>

    <update id="adminDeleteConfirm"  parameterType="com.office.house.admin.AdminDto">

        update tbl_admin set a_state = 0 ,a_mod_date = now() where a_no = #{a_no}

    </update>

    <select id="getTotalCnt" resultType="Integer">

        SELECT count(*) FROM ${table} where #{column} like CONCAT('%',#{keyWord},'%')

    </select>

    <select id="adminList" resultType="com.office.house.admin.AdminDto">

        select * from tbl_admin where a_id like CONCAT('%',#{keyWord},'%') order by a_reg_date desc LIMIT #{criteria.skip}, #{criteria.amount}

    </select>

    <select id="adminListDetail" resultType="com.office.house.admin.AdminDto">

        SELECT * FROM tbl_admin WHERE a_no = #{a_no}

    </select>

    <update id="adminListModifyConfirm"  parameterType="com.office.house.admin.AdminDto">

        update tbl_admin set a_mail = #{a_mail} , a_phone = #{a_phone}, a_state = #{a_state}, a_mod_date = now() where a_no = #{a_no}

    </update>

    <!--  User list Start  -->

    <select id="userList" resultType="com.office.house.user.UserDto">

        select * from tbl_user where u_id like CONCAT('%',#{keyWord},'%') order by u_reg_date desc LIMIT #{criteria.skip}, #{criteria.amount}

    </select>

    <select id="userListDetail" resultType="com.office.house.user.UserDto">

        SELECT * FROM tbl_user WHERE u_no = #{u_no}

    </select>

    <update id="userListModifyConfirm"  parameterType="com.office.house.user.UserDto">

        update tbl_user set u_mail = #{u_mail} , u_phone = #{u_phone}, u_state = #{u_state}, u_mod_date = now() where u_no = #{u_no}

    </update>

    <!--  User list End  -->

    <!--  Youtube Channel list Start  -->

    <select id="youtubChannelList" resultType="com.office.house.admin.ChannelDto">

        select * from tbl_youtube_channel where yc_channel like CONCAT('%',#{keyWord},'%') order by yc_reg_date desc LIMIT #{criteria.skip}, #{criteria.amount}

    </select>

    <select id="youtubChannelListDetail" resultType="com.office.house.admin.ChannelDto">

        SELECT * FROM tbl_youtube_channel WHERE yc_no = #{yc_no}

    </select>

</mapper>