<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.house.admin.IAdminDaoMapper">

    <!--  ADMIN START  -->

    <select id="selectAdminForLogin" parameterType="com.office.house.admin.AdminDto" resultType="com.office.house.admin.AdminDto">

        SELECT * FROM tbl_admin WHERE a_id = #{a_id}

    </select>

    <select id="isAdmin" parameterType="String" resultType="Boolean">

        select count(*) from tbl_admin where a_id = #{a_id}

    </select>

    <insert id="insertNewAccount" parameterType="com.office.house.admin.AdminDto">
        insert into tbl_admin(a_id, a_pw, a_mail, a_phone, a_reg_date, a_mod_date)
        values (#{a_id}, #{a_pw}, #{a_mail}, #{a_phone}, now(), now())
    </insert>

    <update id="adminModifyConfirm"  parameterType="com.office.house.admin.AdminDto">

        update tbl_admin set a_pw = #{a_pw}, a_mail = #{a_mail} ,a_phone = #{a_phone} ,a_mod_date = now() where a_no = #{a_no}

    </update>

    <update id="adminDeleteConfirm"  parameterType="com.office.house.admin.AdminDto">

        update tbl_admin set a_state = 0 ,a_mod_date = now() where a_no = #{a_no}

    </update>

    <!--  ADMIN END  -->

    <!--  ADMIN LIST START  -->

    <select id="getTotalCnt" resultType="Integer">

        SELECT count(*) FROM ${table} where ${column} like CONCAT('%',#{keyWord},'%')

    </select>

    <select id="adminList" resultType="com.office.house.admin.AdminDto">

        select * from tbl_admin where a_id like CONCAT('%',#{keyWord},'%') order by a_reg_date desc LIMIT #{criteria.skip}, #{criteria.amount}

    </select>

    <select id="adminListDetail" resultType="com.office.house.admin.AdminDto">

        SELECT * FROM tbl_admin WHERE a_no = #{a_no}

    </select>

    <update id="adminListModifyConfirm"  parameterType="com.office.house.admin.AdminDto">

        update tbl_admin set a_mail = #{a_mail} , a_phone = #{a_phone}, a_state = #{a_state}, a_mod_date = now() where a_no = #{a_no}

    </update>

    <!--  ADMIN LIST END  -->

    <!--  USER LIST START  -->

    <select id="userList" resultType="com.office.house.user.UserDto">

        select * from tbl_user where u_id like CONCAT('%',#{keyWord},'%') order by u_reg_date desc LIMIT #{criteria.skip}, #{criteria.amount}

    </select>

    <select id="userListDetail" resultType="com.office.house.user.UserDto">

        SELECT * FROM tbl_user WHERE u_no = #{u_no}

    </select>

    <update id="userListModifyConfirm"  parameterType="com.office.house.user.UserDto">

        update tbl_user set u_mail = #{u_mail} , u_phone = #{u_phone}, u_state = #{u_state}, u_mod_date = now() where u_no = #{u_no}

    </update>

    <!--  USER LIST END  -->

    <!--  YOUTUBE CHANNEL LIST START  -->

    <select id="youtubeChannelList" resultType="com.office.house.admin.ChannelDto">

        select * from tbl_youtube_channel where yc_channel like CONCAT('%',#{keyWord},'%') order by yc_reg_date desc LIMIT #{criteria.skip}, #{criteria.amount}

    </select>

    <select id="youtubeChannelListDetail" resultType="com.office.house.admin.ChannelDto">

        SELECT * FROM tbl_youtube_channel WHERE yc_no = #{yc_no}

    </select>

    <select id="isChannel" parameterType="String" resultType="Boolean">

        select count(*) from tbl_youtube_channel where yc_channel = #{yc_channel}

    </select>

    <insert id="insertNewChannel" parameterType="com.office.house.admin.ChannelDto">
        insert into tbl_youtube_channel(yc_channel, yc_bring_cnt, yc_show_cnt, yc_state, yc_reg_date, yc_mod_date)
        values (#{yc_channel}, #{yc_bring_cnt}, #{yc_show_cnt}, #{yc_state}, now(), now())
    </insert>

    <update id="youtubeChannelListModifyConfirm"  parameterType="com.office.house.admin.ChannelDto">

        update tbl_youtube_channel set yc_bring_cnt = #{yc_bring_cnt} , yc_show_cnt = #{yc_show_cnt}, yc_state = #{yc_state}, yc_mod_date = now() where yc_no = #{yc_no}

    </update>

    <!--  YOUTUBE CHANNEL LIST END  -->

    <!--  YOUTUBE LIST START -->

    <select id="youtubeList" resultType="com.office.house.youtube.YoutubeDto">

        select * from tbl_youtube where y_title like CONCAT('%',#{keyWord},'%') order by y_date desc LIMIT #{criteria.skip}, #{criteria.amount}

    </select>

    <select id="youtubeListDetail" resultType="com.office.house.youtube.YoutubeDto">

        SELECT * FROM tbl_youtube WHERE y_no = #{y_no}

    </select>

    <update id="youtubeListModifyConfirm" >

        update tbl_youtube set y_state = #{y_state} where y_no = #{y_no}

    </update>

    <!--  YOUTUBE LIST END  -->

    <!--  BOARD LIST START -->

    <select id="boardList" resultType="com.office.house.board.BoardDto">

        select * from tbl_board where b_title like CONCAT('%',#{keyWord},'%') order by b_reg_date desc LIMIT #{criteria.skip}, #{criteria.amount}

    </select>

    <select id="boardListDetail" resultType="com.office.house.board.BoardDto">

        SELECT * FROM tbl_board WHERE b_no = #{b_no}

    </select>

    <update id="boardListModifyConfirm">

        update tbl_board set b_state = #{b_state} where b_no = #{b_no}

    </update>

    <!--  BOARD LIST END  -->

    <!--  PRODUCT LIST START -->

    <select id="productList" resultType="com.office.house.product.ProductDto">

        select * from tbl_product where p_name like CONCAT('%',#{keyWord},'%') order by p_reg_date desc LIMIT #{criteria.skip}, #{criteria.amount}

    </select>

    <select id="productListDetail" resultType="com.office.house.product.ProductDto">

        SELECT * FROM tbl_product WHERE p_no = #{p_no}

    </select>

    <update id="productListModifyConfirm" >

        update tbl_product set p_state = #{p_state} where p_no = #{p_no}

    </update>

    <!--  PRODUCT LIST END  -->

</mapper>