<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.house.board.IBoardDaoMapper">

    <insert id="insertNewBoard" parameterType="com.office.house.board.BoardDto">
        insert into tbl_board (u_id, u_img, b_title, b_content, b_thumbnail, b_reg_date, b_mod_date) values (#{u_id}, #{u_img}, #{b_title}, #{b_content}, #{b_thumbnail}, now(), now())
    </insert>

    <select id="selectBoardList" parameterType="String" resultType="com.office.house.board.BoardDto">
        select * from tbl_board
        <if test="keyword != null">
            WHERE b_title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <choose>
            <when test="sort == 0">
                ORDER BY b_reg_date desc
            </when>
            <when test="sort == 1">
                ORDER BY b_like desc
            </when>
            <when test="sort == 2">
                ORDER BY b_hit desc
            </when>
        </choose>
        LIMIT #{skip}, #{amount}
    </select>

    <select id="selectBoardListCnt" resultType="Integer" parameterType="String">
        select COUNT(*) from tbl_board
        <if test="keyword != null">
            WHERE b_title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <choose>
            <when test="sort == 0">
                ORDER BY b_reg_date DESC
            </when>
            <when test="sort == 1">
                ORDER BY b_like desc
            </when>
            <when test="sort == 2">
                ORDER BY b_hit desc
            </when>
        </choose>
    </select>


    <update id="updateHit" parameterType="Integer">
        update tbl_board set b_hit = b_hit + 1 where b_no = #{b_no}
    </update>

    <select id="getBoard" parameterType="Integer" resultType="com.office.house.board.BoardDto">
        select * from tbl_board where b_no = #{b_no}
    </select>

    <update id="updateUserImage" parameterType="com.office.house.user.UserDto">
        update tbl_board set u_img = #{u_img}, b_mod_date = now() where u_id = #{u_id}
    </update>

    <select id="boardModifyForm" parameterType="Integer" resultType="com.office.house.board.BoardDto">
        select * from tbl_board where b_no = #{b_no}
    </select>

    <update id="updateBoard" parameterType="hashmap">
        update tbl_board set b_title = #{boardDto.b_title}, b_content = #{boardDto.b_content}, b_thumbnail = #{boardDto.b_thumbnail}, b_mod_date = now() where b_no = #{b_no}
    </update>

    <delete id="deleteBoard" parameterType="hashmap">
        delete from tbl_board where b_no = #{b_no}
    </delete>

    <select id="selectLikedBoard" parameterType="java.util.List" resultType="com.office.house.like.LikeDto">
        SELECT
        *
        FROM
        tbl_like
        WHERE
        l_type = 2 AND
        l_content_no IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <update id="updateLikeCountForBoard">
        UPDATE
            tbl_board
        SET
            b_like = #{likeCnt}
        WHERE
            b_no = #{no}
    </update>

    <select id="selectBoardByNo" parameterType="String" resultType="com.office.house.board.BoardDto">
        SELECT
            *
        FROM
            tbl_board
        WHERE
            b_no = #{no}
    </select>

    <select id="selectLikeBoardList" parameterType="String" resultType="com.office.house.board.BoardDto">
        SELECT
            *
        FROM
            tbl_board
        WHERE
            <if test="keyword != null">
                b_title LIKE CONCAT('%', #{keyword}, '%')
                AND
            </if>
            b_no
                IN (SELECT l_content_no FROM tbl_like WHERE l_type = 2 AND u_id = #{u_id})
        <choose>
            <when test="sort == 0">
                ORDER BY b_reg_date DESC
            </when>
            <when test="sort == 1">
                ORDER BY b_like desc
            </when>
            <when test="sort == 2">
                ORDER BY b_hit desc
            </when>
        </choose>
        LIMIT #{skip}, #{amount}
    </select>

    <select id="selectBoardMainSearch" parameterType="String" resultType="com.office.house.board.BoardDto">
        SELECT
            *
        FROM
            tbl_board
        WHERE
            b_title like CONCAT('%',#{keyword},'%')
        ORDER BY b_like DESC
        LIMIT 6
    </select>

</mapper>