<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.house.comment.ICommentDaoMapper">

    <insert id="insertNewReply" parameterType="com.office.house.comment.CommentDto">
        insert into tbl_comment (u_id, b_no, c_comment, c_reg_date, c_mod_date) values (#{u_id}, #{b_no}, #{c_comment}, now(), now())
    </insert>

    <select id="getMaxCno" resultType="Integer">
        select max(c_no) from tbl_comment
    </select>

    <update id="updateTargetCno" parameterType="Integer">
        update tbl_comment set c_target_c_no = #{c_no} where c_no = #{c_no}
    </update>

    <select id="selectCommentList" parameterType="Integer" resultType="hashmap" >
        select * from tbl_comment c join tbl_board b ON c.b_no = b.b_no where c.b_no = #{b_no} ORDER BY c.c_target_c_no desc, c.c_reg_date asc;
    </select>

    <insert id="insertRereply" parameterType="com.office.house.comment.CommentDto">
        insert into tbl_comment (u_id, b_no, c_comment, c_target_u_id, c_target_c_no, c_reg_date, c_mod_date) values (#{u_id}, #{b_no}, #{c_comment}, #{c_target_u_id}, #{c_target_c_no}, now(), now())
    </insert>

    <delete id="deleteComment" parameterType="hashmap">
        delete from tbl_comment where c_no = #{c_no}
    </delete>

    <update id="updateComment" parameterType="hashmap">
        update tbl_comment set c_comment = #{commentDto.c_comment}, c_mod_date = now() where c_no = #{c_no}
    </update>

</mapper>