<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.house.user.IUserDaoMapper">

    <select id="isUser" parameterType="String" resultType="Boolean">

        select count(*) from tbl_user where u_id = #{u_id}

    </select>

    <insert id="insertNewAccount" parameterType="hashMap">

        insert into tbl_user(u_id, u_pw, u_name, u_mail, u_phone, u_zipcode, u_main_addr, u_detail_addr, u_reg_date, u_mod_date)
        values (#{u_id}, #{u_pw}, #{u_name}, #{u_mail} ,#{u_phone}, #{u_zipcode}, #{u_main_addr}, #{u_detail_addr}, now(), now())

    </insert>

    <select id="selectUserForLogin" parameterType="String" resultType="com.office.house.user.UserDto">

        select * from tbl_user where u_id = #{u_id}

    </select>

    <update id="updateAccount" parameterType="com.office.house.user.UserDto">

        update tbl_user set u_name = #{u_name}, u_mail = #{u_mail} , u_phone = #{u_phone} , u_img = #{u_img}, u_zipcode = #{u_zipcode}, u_main_addr = #{u_main_addr}, u_detail_addr = #{u_detail_addr}, u_mod_date = now() where u_no = #{u_no}

    </update>

    <select id="getLatestAccountInfo" parameterType="com.office.house.user.UserDto" resultType="com.office.house.user.UserDto">

        select * from tbl_user where u_no = #{u_no}

    </select>

    <delete id="deleteAccount" parameterType="Integer">

        update tbl_user set u_state = 0, u_mod_date = now() where u_no = #{u_no}

    </delete>

    <select id="selectUserForFindPassword" parameterType="hashMap" resultType="Integer">
        SELECT
            COUNT(*)
        FROM
            tbl_user
        WHERE
            u_id = #{u_id} AND u_mail = #{u_mail}
    </select>

    <update id="updatePassword" parameterType="String">
        UPDATE
            tbl_user
        SET
            u_pw = #{newPassword}, u_mod_date = NOW()
        WHERE
            u_id = #{u_id}
    </update>

    <select id="selectBoardList" resultType="com.office.house.board.BoardDto">
        select * from tbl_board where u_id = #{u_id}
    </select>


</mapper>