<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.house.product.IProductDaoMapper">

    <select id="selectProducts" parameterType="String" resultType="com.office.house.product.ProductDto">
        SELECT
        *
        FROM
        tbl_product
        <if test="category != null or filter != null or keyword != null">
            WHERE
        </if>
        <choose>
            <when test="category == null and filter == null and keyword != null">
                p_name LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="category == null and filter != null and keyword == null">
                <choose>
                    <when test="filter == 1">
                        p_sales_price  <![CDATA[<=]]>  100000
                    </when>
                    <when test="filter == 2">
                        p_sales_price <![CDATA[<=]]> 200000
                    </when>
                    <when test="filter == 3">
                        p_sales_price <![CDATA[<=]]> 300000
                    </when>
                    <when test="filter == 4">
                        p_sales_price <![CDATA[>]]> 300000
                    </when>
                </choose>
            </when>
            <when test="category == null and filter != null and keyword != null">
                <choose>
                    <when test="filter == 1">
                        p_sales_price  <![CDATA[<=]]>  100000
                    </when>
                    <when test="filter == 2">
                        p_sales_price <![CDATA[<=]]> 200000
                    </when>
                    <when test="filter == 3">
                        p_sales_price <![CDATA[<=]]> 300000
                    </when>
                    <when test="filter == 4">
                        p_sales_price <![CDATA[>]]> 300000
                    </when>
                </choose>
                AND p_name LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="category != null and filter == null and keyword == null">
                p_category IN
                <foreach collection="category" item="cg" open="(" close=")" separator=",">
                    #{cg}
                </foreach>
            </when>
            <when test="category != null and filter != null and keyword == null">
                <choose>
                    <when test="filter == 1">
                        p_sales_price  <![CDATA[<=]]>  100000
                    </when>
                    <when test="filter == 2">
                        p_sales_price <![CDATA[<=]]> 200000
                    </when>
                    <when test="filter == 3">
                        p_sales_price <![CDATA[<=]]> 300000
                    </when>
                    <when test="filter == 4">
                        p_sales_price <![CDATA[>]]> 300000
                    </when>
                </choose>
                AND
                p_category IN
                <foreach collection="category" item="cg" open="(" close=")" separator=",">
                    #{cg}
                </foreach>
            </when>
            <when test="category != null and filter == null and keyword != null">
                p_name LIKE CONCAT('%', #{keyword}, '%')
                AND
                p_category IN
                <foreach collection="category" item="cg" open="(" close=")" separator=",">
                    #{cg}
                </foreach>
            </when>
            <when test="category != null and filter != null and keyword != null">
                <choose>
                    <when test="filter == 1">
                        p_sales_price  <![CDATA[<=]]>  100000
                    </when>
                    <when test="filter == 2">
                        p_sales_price <![CDATA[<=]]> 200000
                    </when>
                    <when test="filter == 3">
                        p_sales_price <![CDATA[<=]]> 300000
                    </when>
                    <when test="filter == 4">
                        p_sales_price <![CDATA[>]]> 300000
                    </when>
                </choose>
                AND
                p_name LIKE CONCAT('%', #{keyword}, '%')
                AND
                p_category IN
                <foreach collection="category" item="cg" open="(" close=")" separator=",">
                    #{cg}
                </foreach>
            </when>
        </choose>
        <choose>
            <when test="sort == 1">
                ORDER BY p_sales_price desc
            </when>
            <when test="sort == 2">
                ORDER BY p_sales_price asc
            </when>
            <when test="sort == 3">
                ORDER BY p_like desc
            </when>
            <when test="sort == 4">
                ORDER BY p_hit desc
            </when>
        </choose>
        LIMIT #{skip}, #{amount}
    </select>

    <select id="selectProductsCnt" parameterType="String" resultType="Integer">
        SELECT
        COUNT(*)
        FROM
        tbl_product
        <if test="category != null or filter != null or keyword != null">
            WHERE
        </if>
        <choose>
            <when test="category == null and filter == null and keyword != null">
                p_name LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="category == null and filter != null and keyword == null">
                <choose>
                    <when test="filter == 1">
                        p_sales_price  <![CDATA[<=]]>  100000
                    </when>
                    <when test="filter == 2">
                        p_sales_price <![CDATA[<=]]> 200000
                    </when>
                    <when test="filter == 3">
                        p_sales_price <![CDATA[<=]]> 300000
                    </when>
                    <when test="filter == 4">
                        p_sales_price <![CDATA[>]]> 300000
                    </when>
                </choose>
            </when>
            <when test="category == null and filter != null and keyword != null">
                <choose>
                    <when test="filter == 1">
                        p_sales_price  <![CDATA[<=]]>  100000
                    </when>
                    <when test="filter == 2">
                        p_sales_price <![CDATA[<=]]> 200000
                    </when>
                    <when test="filter == 3">
                        p_sales_price <![CDATA[<=]]> 300000
                    </when>
                    <when test="filter == 4">
                        p_sales_price <![CDATA[>]]> 300000
                    </when>
                </choose>
                AND p_name LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test="category != null and filter == null and keyword == null">
                p_category IN
                <foreach collection="category" item="cg" open="(" close=")" separator=",">
                    #{cg}
                </foreach>
            </when>
            <when test="category != null and filter != null and keyword == null">
                <choose>
                    <when test="filter == 1">
                        p_sales_price  <![CDATA[<=]]>  100000
                    </when>
                    <when test="filter == 2">
                        p_sales_price <![CDATA[<=]]> 200000
                    </when>
                    <when test="filter == 3">
                        p_sales_price <![CDATA[<=]]> 300000
                    </when>
                    <when test="filter == 4">
                        p_sales_price <![CDATA[>]]> 300000
                    </when>
                </choose>
                AND
                p_category IN
                <foreach collection="category" item="cg" open="(" close=")" separator=",">
                    #{cg}
                </foreach>
            </when>
            <when test="category != null and filter == null and keyword != null">
                p_name LIKE CONCAT('%', #{keyword}, '%')
                AND
                p_category IN
                <foreach collection="category" item="cg" open="(" close=")" separator=",">
                    #{cg}
                </foreach>
            </when>
            <when test="category != null and filter != null and keyword != null">
                <choose>
                    <when test="filter == 1">
                        p_sales_price  <![CDATA[<=]]>  100000
                    </when>
                    <when test="filter == 2">
                        p_sales_price <![CDATA[<=]]> 200000
                    </when>
                    <when test="filter == 3">
                        p_sales_price <![CDATA[<=]]> 300000
                    </when>
                    <when test="filter == 4">
                        p_sales_price <![CDATA[>]]> 300000
                    </when>
                </choose>
                AND
                p_name LIKE CONCAT('%', #{keyword}, '%')
                AND
                p_category IN
                <foreach collection="category" item="cg" open="(" close=")" separator=",">
                    #{cg}
                </foreach>
            </when>
        </choose>
    </select>

    <select id="isExistProduct" parameterType="String" resultType="Integer">
        SELECT
            COUNT(*)
        FROM
            tbl_product
        WHERE
            p_link = #{p_link}
    </select>

    <insert id="insertProducts" parameterType="com.office.house.product.ProductDto">
        INSERT INTO
            tbl_product(p_brand, p_name, p_sales_price, p_img, p_link, p_category, p_reg_date, p_mod_date)
        VALUES(#{p_brand}, #{p_name}, #{p_sales_price}, #{p_img}, #{p_link}, #{p_category}, NOW(), NOW())
    </insert>

    <update id="updateProducts" parameterType="com.office.house.product.ProductDto">
        UPDATE
            tbl_product
        SET
            p_brand = #{p_brand},
            p_name = #{p_name},
            p_sales_price = #{p_sales_price},
            p_img = #{p_img},
            p_category = #{p_category},
            p_mod_date = NOW()
        WHERE
            p_link = #{p_link}
    </update>

    <insert id="insertLikeCount" parameterType="String">
        INSERT INTO tbl_like(l_type, l_content_no, u_id, l_reg_date, l_mod_date)
        VALUES (#{type}, #{no}, #{u_id}, NOW(), NOW())
    </insert>

    <delete id="deleteLikeCount" parameterType="String">
        DELETE
        FROM tbl_like
        WHERE l_type = #{type}
          AND l_content_no = #{no}
          AND u_id = #{u_id}
    </delete>

    <select id="selectLikeCount" parameterType="String" resultType="Integer">
        SELECT COUNT(*)
        FROM tbl_like
        WHERE l_type = #{type}
          AND l_content_no = #{no}
    </select>

    <select id="selectLikeProducts" parameterType="hashMap" resultType="com.office.house.product.ProductDto">
        SELECT *
        FROM tbl_product
        WHERE p_no
            IN (SELECT l_content_no
                FROM tbl_like
                WHERE l_type = 1
                  AND u_id = #{u_id}
              )
            LIMIT #{skip}, #{amount}

    </select>

    <select id="selectLikeProductsCnt" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM tbl_product WHERE p_no IN (SELECT l_content_no FROM tbl_like WHERE l_type = 1 AND u_id = #{u_id})
    </select>

    <update id="updateLikeCountForProduct">
        UPDATE
            tbl_product
        SET
            p_like = #{likeCnt}
        WHERE
            p_no = #{no}
    </update>

    <select id="selectLikedProduct" parameterType="java.util.List" resultType="com.office.house.like.LikeDto">
        SELECT
            *
        FROM
            tbl_like
        WHERE
        l_type = 1 AND
        l_content_no IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectProductByNo" parameterType="String" resultType="com.office.house.product.ProductDto">
        SELECT
            *
        FROM
            tbl_product
        WHERE
            p_no = #{no}
    </select>

    <update id="updateHitCount" parameterType="String">
        UPDATE
            tbl_product
        SET
            p_hit = p_hit + 1
        WHERE
            p_no = #{no}
    </update>

    <select id="selectProductMainSearch" parameterType="String" resultType="com.office.house.product.ProductDto">
    SELECT
        *
    FROM
        tbl_product
    LEFT JOIN (SELECT COUNT(*) cnt, l_content_no FROM tbl_like WHERE l_type = 1 AND u_id = #{uId} GROUP BY l_content_no) a
    ON l_content_no = p_no
    WHERE
        p_name like CONCAT('%',#{keyword},'%')
    ORDER BY p_like DESC
    LIMIT 8
    </select>

    <update id="increaseLike">
        update tbl_product set p_like = p_like + 1 where p_no = #{no}
    </update>

    <update id="decreaseLike" >

        update tbl_product set p_like = p_like - 1 where p_no = #{no}

    </update>

    <insert id="insertProductLike" >

        insert tbl_like(l_type, l_content_no, u_id, l_reg_date, l_mod_date)
        values (#{type}, #{no}, #{u_id}, now(), now())

    </insert>

    <select id="searchLike" resultType="Integer">

        select p_like from tbl_product where p_no = #{no}

    </select>

    <delete id="deleteProductLike">

        delete from tbl_like where l_type = 1 and l_content_no = #{no}

    </delete>
</mapper>