<script th:fragment="js" th:inline="javascript" type="text/javascript">

function adminModifyForm() {
	console.log('adminModifyForm() CALLED!!');

	let form = document.admin_modify_form;

    if (form.a_pw.value==''){
		alert('INPUT PW');
		form.a_pw.focus();

	} else if (form.a_mail.value == '') {
		alert('INPUT MAIL');
		form.a_mail.focus();

	} else if (form.a_phone.value == '') {
		alert('INPUT PHONE');
		form.a_phone.focus();

	} else {
            form.submit();

    }
}

function adminListModifyForm() {
    console.log('adminModifyForm() CALLED!!');

    let form = document.admin_modify_form;

    if (form.a_pw.value==''){
        alert('INPUT PW');
        form.a_pw.focus();

    } else if (form.a_mail.value == '') {
        alert('INPUT MAIL');
        form.a_mail.focus();

    } else if (form.a_phone.value == '') {
        alert('INPUT PHONE');
        form.a_phone.focus();

    } else {
        form.submit();

    }
}

</script>