<script th:fragment="js" th:inline="javascript" type="text/javascript">

    $(document).ready(function () {
        console.log("DOCUMENT READY!!");

        // 이벤트 핸들러 초기화(등록)
        // init_events();
        ajax_BoardList();
    });

    // 리스트 출력
    function addBoardListTr(boardDtos) {
        console.log("addBoardListTr()");

        console.log(boardDtos);

        let appendTag = '';
        let cnt = 0;

        appendTag += boardDtos.length;
        $('div.board_wrap > p').append(appendTag);

        appendTag = '';

        for (let i = 0; i < boardDtos.length / 4 + 1; i++) {
            appendTag += '<tr>'
            for (let j = 0; j < 4; j++) {
                if (boardDtos[cnt] == null) {
                    break;
                }
                appendTag += '<td>';
                appendTag += '<div>';
                appendTag += '<img class="board_img" src="/userBoardThumbnailImg/';
                appendTag += boardDtos[cnt].u_id;
                appendTag += "/";
                appendTag += boardDtos[cnt].b_thumbnail;
                appendTag += '"/>'
                appendTag += '<a class="title" href="/board/get_board?b_no=';
                appendTag += boardDtos[cnt].b_no;
                appendTag += '">'
                appendTag += '<br>';
                appendTag += boardDtos[cnt].b_title;
                appendTag += '</a><br>'

                if (boardDtos[cnt].u_img != null){
                appendTag += '<img class="profile_img" src="/userUploadImg/';
                appendTag += boardDtos[cnt].u_id;
                appendTag += "/";
                appendTag += boardDtos[cnt].u_img;
                appendTag += '"/>'
                }

                if (boardDtos[cnt].u_img == null){
                    // appendTag += '<img class="profile_img" th:src="@{/imgs/defaultimage.PNG}">';
                    appendTag += '<img class="profile_img" src="/imgs/defaultimage.PNG">';
                }

                appendTag += '<span class="user_name">'
                appendTag += boardDtos[cnt].u_id;
                appendTag += '</span>';
                appendTag += '</td>';
                appendTag += '</div>';

                cnt++;

            }
            appendTag += '</tr>';
        }

        $('#section_wrap div.board_wrap table tbody').append(appendTag);
    }

    function ajax_BoardList() {
        console.log('ajax_BoardList()');

        $.ajax({
            url: '/board/get_board_list',
            method: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log('AJAX SUCCESS - ajax_BoardList()');

                let boardDtos = data.boardDtos;
                addBoardListTr(boardDtos);
            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_BoardList()');
            }
        });
    }

</script>