<script th:fragment="jquery_cdn" src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<!--
<script th:fragment="js" th:inline="javascript" type="text/javascript">
    $(document).on('click', 'a.go_product',function(e){
        e.preventDefault();
        console.log("클릭이벤트");
        $(this).addClass('active_menu');
        $('a.go_board').removeClass('active_menu');
        $('a.go_youtube').removeClass('active_menu');
    })
    $(document).on('click', 'a.go_board',function(e){
        e.preventDefault();
        console.log("클릭이벤트");
        $(this).addClass('active_menu');
        $('a.go_product').removeClass('active_menu');
        $('a.go_youtube').removeClass('active_menu');
    })
    $(document).on('click', 'a.go_youtube',function(e){
        e.preventDefault();
        console.log("클릭이벤트");
        $(this).addClass('active_menu');
        $('a.go_board').removeClass('active_menu');
        $('a.go_product').removeClass('active_menu');
    })
</script>-->
