<script th:fragment="js" th:inline="javascript" type="text/javascript">

    let boardDto = [[${boardDto}]];
    let loginedMemberDto = [[${session.loginedMemberDto}]];

    $(document).ready(function () {
        console.log("document ready!")

        $("div.view_content > h1").text(boardDto.b_title);
        $("span.content_reg_date").text(boardDto.b_reg_date);
        $("span.user_name").text(boardDto.u_id);
        $("div.view_content > div.content_area").append(boardDto.b_content);
        $("span.hit_num").text(boardDto.b_hit);

        ajax_showCommentList(boardDto.b_no);
    })

    // 디테일 뷰 - 삭제 버튼 클릭 시
    $(document).on("click", "#section_wrap a.delete_btn", function () {
            console.log("DELETE Click Handler!");

            ajax_removeContent(boardDto.b_no);
        }
    );

    // 댓글 리스트 출력
    function addCommentListTr(commentDtos) {
        console.log("addCommentListTr()");

        console.log(commentDtos);

        let appendTag = '';

        for (let i = 0; i < commentDtos.length; i++) {
            appendTag += '<tr>'

            if(commentDtos[i].c_target_u_id != null) {
                appendTag += '<td class="margin_box" colspan="1">';
                appendTag += '</td>';
            }

            appendTag += '<td class="comment_box" colspan="2">';


            appendTag += '<div class="comment_item">';
            appendTag += '<img src="/userUploadImg/';
            appendTag += commentDtos[i].u_id;
            appendTag += "/";
            appendTag += commentDtos[i].u_img;
            appendTag += '"/>'
            appendTag += '<span class="user_id">';
            appendTag += commentDtos[i].u_id;
            appendTag += '</span>';
            appendTag += '<br>'
            appendTag += '<p class="comment_content" style="display: block">'
            appendTag += commentDtos[i].c_comment;
            appendTag += '</p>';
            appendTag += '<input type="text" class="comment_content_input" value="';
            appendTag += commentDtos[i].c_comment;
            appendTag += '" style="display: none">';
            appendTag += '<input type="button" class="modify_comment_btn" value="수정" style="display: none" onclick="ajax_modifyComment(' + commentDtos[i].c_no + ');">';
            appendTag += '<p class="comment_date">';

            var date = new Date(commentDtos[i].c_reg_date);

            var year = date.getFullYear();
            var month = String(date.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 +1 해주고 두 자리로 포맷팅
            var day = String(date.getDate()).padStart(2, '0'); // 일도 두 자리로 포맷팅

            let c_reg_date = `${year}-${month}-${day}`;

            appendTag += c_reg_date;

            appendTag += '<a class="recomment" onclick="showRereplyForm(' + i + ', \'' + commentDtos[i].u_id + '\', ' + commentDtos[i].c_no + ');">';
            appendTag += '답글달기';
            appendTag += '</a>';

            console.log("c_no:" + commentDtos[i].c_no);

            if([[${session.loginedMemberDto.u_id}]] == commentDtos[i].u_id){
                appendTag += '<a class="modifyComment" onclick="changeDisplay(' + commentDtos[i].c_no + ')">';
                appendTag += '수정하기';
                appendTag += '</a>';
                appendTag += ' | ';
                appendTag += '<a class="deleteComment" onclick="ajax_deleteComment(' + commentDtos[i].c_no + ')">';
                appendTag += '삭제하기';
                appendTag += '</a>';
            }

            appendTag += '</p>';
            appendTag += '</div>';
            appendTag += '</td>';
            appendTag += '</tr>';

        }

        $('#section_wrap table.comments tbody').append(appendTag);
    }

    // 답글 폼 표시 함수
    function showRereplyForm(index, u_id, c_no) {
        let replyForm = `
        <div class="re_reply_form">
            <input type="hidden" name="c_target_c_no" value="${c_no}">
            <input type="hidden" name="c_target_u_id" value="${u_id}">
            <img th:unless="${loginedMemberDto != null}" th:src="@{/imgs/defaultimage.PNG}">
            <input class="input_re_comment" type="text">
            <input type="button" value="입력" onclick="registRereply('${u_id}', ${c_no});">
        </div>
    `;

        // 답글 입력 폼을 현재 클릭한 답글 버튼 아래에 추가
        let commentItem = $('#section_wrap table.comments tbody tr').eq(index);
        commentItem.after(replyForm);
    }

    function changeDisplay(no) {
        console.log("modifyComment()");

        let comment_content = document.querySelector(".comment_content");
        let comment_content_input = document.querySelector(".comment_content_input");
        let modify_comment_btn = document.querySelector(".modify_comment_btn");

        comment_content_input.style.display = 'inline-block';
        modify_comment_btn.style.display = 'inline-block';
        comment_content.style.display = 'none';
    }

    // 댓글 보여주기
    function ajax_showCommentList(b_no) {
        console.log('ajax_showCommentList()');

        $.ajax({
            url: '/comment/get_comment_list?b_no=' + b_no,
            method: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log('AJAX SUCCESS - ajax_showCommentList()');

                let commentDtos = data.commentDtos;
                addCommentListTr(commentDtos);
            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_showCommentList()');
            }
        });
    }

    // 댓글 달기
    function registReply() {
        console.log("registReply()");

        let comment = document.querySelector(".input_comment").value; // 입력된 값을 가져옴
        console.log("입력한 댓글: " + comment);

        let msg = {
            "c_comment": comment,
            "u_id": loginedMemberDto.u_id,
            "b_no": boardDto.b_no,
        }

        $.ajax({
            url: "/comment/regist_reply_confirm",
            type: "POST",
            data: msg,
            success: function (data) {
                console.log("regist reply success!", data);

                /*alert('댓글이 정상적으로 등록되었습니다.');*/
                // location.href = "/board/get_board?b_no="+boardDto.b_no;
                $('table.comments tbody').children().remove();
                $('input.input_comment').val('');
                ajax_showCommentList(boardDto.b_no);

            },
            error: function () {
                console.log('AJAX ERROR - ajax_writePost()');
                alert('writePost fail!!');
            }
        })

    }

    // 대댓글 달기
    function registRereply(uId, cNo) {
        console.log("registReply()");
        console.log(uId);
        console.log(cNo);

        let comment = document.querySelector(".input_re_comment").value; // 입력된 값을 가져옴
        console.log("입력한 댓글: " + comment);

        let msg = {
            "c_comment": comment,
            "u_id": loginedMemberDto.u_id,
            "b_no": boardDto.b_no,
            "c_target_c_no": cNo,
            "c_target_u_id": uId
        }

        $.ajax({
            url: "/comment/regist_re_reply_confirm",
            type: "POST",
            data: msg,
            success: function (data) {
                console.log("regist reply success!", data);

                /*alert('댓글이 정상적으로 등록되었습니다.');*/
                // location.href = "/board/get_board?b_no="+boardDto.b_no;
                $('table.comments tbody').children().remove();
                $('input.input_re_comment').val('');
                ajax_showCommentList(boardDto.b_no);

            },
            error: function () {
                console.log('AJAX ERROR - ajax_writePost()');
                alert('writePost fail!!');
            }
        })

    }

    // 게시물 삭제
    function ajax_removeContent(no) {
        console.log("ajax_removeContent() called!");

        console.log("b_no : " + no);

        let boardDto = {
            b_no: no,
        };

        $.ajax({
            url: "/board/delete_board_confirm",
            type: "post",
            data: JSON.stringify(boardDto),
            contentType: "application/json; charset=utf-8",
            // dataType: "json",
            success: function (data) {
                console.log("ajax success - ajax_removeContent()");

                if (data.result > 0) {
                    alert("정상적으로 삭제되었습니다.");
                    location.href = "/board/";
                    // ajax_BoardList();
                } else {
                    alert("삭제하는데 문제가 발생하였습니다. 다시 시도해주세요.");
                }
            },
            error: function (data) {
                console.log("ajax error - ajax_removeContent()");
            },
        });
    }


    // 댓글 삭제
    function ajax_deleteComment(no) {
        console.log("ajax_deleteComment() called!");

        console.log("c_no : " + no);

        let commentDto = {
            c_no: no,
        };

        $.ajax({
            url: "/comment/delete_comment_confirm",
            type: "post",
            data: JSON.stringify(commentDto),
            contentType: "application/json; charset=utf-8",
            // dataType: "json",
            success: function (data) {
                console.log("ajax success - ajax_deleteComment()");

                if (data.result > 0) {
                    alert("정상적으로 삭제되었습니다.");
                    location.href = "/board/get_board?b_no=" + boardDto.b_no;

                } else {
                    alert("삭제하는데 문제가 발생하였습니다. 다시 시도해주세요.");
                }
            },
            error: function (data) {
                console.log("ajax error - ajax_deleteComment()");
            },
        });
    }

    // 댓글 수정
    function ajax_modifyComment(no) {
        console.log("ajax_modifyComment()");

        let comment = document.querySelector(".comment_content_input").value; // 입력된 값을 가져옴
        console.log("입력한 댓글: " + comment);

        let msg = {
            "c_no" : no,
            "c_comment": comment,
        }

        $.ajax({
            url: "/comment/modify_comment_confirm",
            type: "POST",
            data: msg,
            success: function (data) {
                console.log("modify reply success!", data);

                location.href = "/board/get_board?b_no=" + boardDto.b_no;
            },
            error: function () {
                console.log('AJAX ERROR - ajax_modifyComment()');
                alert('writePost fail!!');
            }
        })
    }



</script>
