<script th:replace="~{/include/user_modify_js.html::js}" type="text/javascript"></script>

<header th:fragment="header" class="on">

    <div class="search-bar">
        <a class="logo" th:href="@{/}">It ! Terior</a>
        <input type="text" placeholder="Search">
    </div>

    <div id="user-actions" th:if="${session.loginedMemberDto == null}">
        <a th:href="@{/}">Home</a>&nbsp;&nbsp;
        <!--<a th:href="@{/user/create_account_form}">Sign Up</a>&nbsp;&nbsp;-->
        <!--<a th:href="@{/user/user_login_form}">Login</a>-->&nbsp;&nbsp;
        <a href="none" class="show_modal">Login</a>
    </div>
    <!-- 여기는 login시에 이걸 nav에 넣을지 말지 고민해보아야 할 듯 -->
    <div id="user-actions" th:unless="${session.loginedMemberDto == null}">
        <a th:href="@{/user/user_myPage}" th:text=${session.loginedMemberDto.u_id}></a>님, 환영합니다!&nbsp;&nbsp;
        <a th:href="@{/user/user_logout_confirm}">logout</a>&nbsp;&nbsp;

    </div>
</header>

<nav th:fragment="nav">
    <a th:href="@{/board}">
        <img th:src="@{/imgs/게시판.PNG}">
        <p>커뮤니티</p>
    </a>

    <a th:href="@{'/product/'}">
        <img th:src="@{/imgs/가구.PNG}">
        <p>인테리어 상품</p>
    </a>

    <a th:href="@{'/youtube'}">
        <img th:src="@{/imgs/영상.PNG}">
        <p>추천 영상</p>
    </a>
</nav>

<footer th:fragment="footer">
    <div id="footer_wrap">
        Copyright ©OFFICE Corp.All Rights Reserved.
    </div>
</footer>