<script th:replace="~{include/user_modify_js.html::js}" type="text/javascript"></script>

<header th:fragment="header" class="user_header">
    <script th:src="@{/js/user/main_search.js}" type="text/javascript"></script>
    <div class="search_bar">
        <a class="logo" th:href="@{/}">It ! Terior</a>
        <div class="search_bar_wrap">
            <input class="main_search_bar" type="text" placeholder="통합 검색" />
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="20px"
                    viewBox="0 0 512 512"
                    class="search_btn"
            >
                <path
                        d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                ></path>
            </svg>
        </div>
    </div>
    <div id="user-actions" th:if="${session.loginedMemberDto == null}">
        <a href="none" class="show_modal">Login</a>
    </div>
    <div id="user-actions" th:unless="${session.loginedMemberDto == null}">
        <a th:href="@{/user/user_myPage}" th:text=${session.loginedMemberDto.u_id}></a>님, 환영합니다!&nbsp;&nbsp;
        <a th:href="@{/user/user_logout_confirm}">Logout</a>&nbsp;&nbsp;

    </div>
    <script th:replace="~{include/use_console.html::js}" type="text/javascript"></script>
</header>

<nav th:fragment="nav">
    <script th:src="@{/js/head_nav_footer.js}" type="text/javascript"></script>

    <a class="go_board" th:href="@{/board}">
        <img th:src="@{/imgs/community.png}">
        <p class="community">내집이야기</p>
    </a>

    <a class="go_product" th:href="@{/product}">
        <img th:src="@{/imgs/furniture.png}">
        <p class="furniture">인테리어 상품</p>
    </a>

    <a class="go_youtube" th:href="@{/youtube}">
        <img th:src="@{/imgs/youtube.png}">
        <p class="youtube">추천 영상</p>
    </a>

</nav>

<footer th:fragment="footer">
    <div id="footer_wrap">
        Copyright ©OFFICE Corp.All Rights Reserved.
    </div>
</footer>