<script th:fragment="js" th:inline="javascript" type="text/javascript">

function userModifyForm() {
	console.log('userModifyForm() CALLED!!');

	let form = document.user_modify_form;

    if (form.u_name.value==''){
        alert('이름을 입력해주세요');
		form.u_name.focus();

	} else if (form.u_mail.value == '') {
        alert('메일을 입력해주세요');
		form.u_mail.focus();

	} else if (form.u_phone.value == '') {
        alert('연락처를 입력해주세요');
		form.u_phone.focus();

	} else if (form.u_main_addr.value == '') {
        alert('도로명 주소를 입력해주세요');
		form.u_main_addr.focus();

	} else if (form.u_detail_addr.value == '') {
        alert('상세 주소를 입력해주세요');
		form.u_detail_addr.focus();

	} else {
            form.submit();

    }
}


</script>