<script th:fragment="js" th:inline="javascript" type="text/javascript">

function userModifyForm() {
	console.log('userModifyForm() CALLED!!');

	let form = document.user_modify_form;

    if (form.u_name.value==''){
		alert('INPUT NAME');
		form.u_name.focus();

	} else if (form.u_mail.value == '') {
		alert('INPUT MAIL');
		form.u_mail.focus();

	} else if (form.u_phone.value == '') {
		alert('INPUT PHONE');
		form.u_phone.focus();

	} else if (form.u_main_addr.value == '') {
		alert('INPUT MAIN ADDRESS');
		form.u_main_addr.focus();

	} else if (form.u_detail_addr.value == '') {
		alert('INPUT DETAIL ADDRESS');
		form.u_detail_addr.focus();

	} else {
            form.submit();

    }
}


</script>