<script th:fragment="js" th:inline="javascript" type="text/javascript">

    $(document).ready(function () {
        console.log("DOCUMENT READY!!");

        // 이벤트 핸들러 초기화(등록)
        init_events();
        ajax_getLikeList();
    });

    // 리스트 출력
    function addBoardLikeListTr(likeDtos) {
        let appendTag = '';
        let cnt = 0;
        appendTag += '<tr>'
        for (let i = 0; i < likeDtos.length; i++) {
            if (boardDtos.u_id == [[${session.loginedMemberDto.u_id}]]) {

                appendTag += '<td>';
                appendTag += '<div>';
                appendTag += '<img src="';
                appendTag += boardDtos.b_img;
                appendTag += '"/>'
                appendTag += '<p className="title">';
                appendTag += boardDtos.b_title;
                appendTag += '</p>';
                appendTag += '<p class="name">';
                appendTag += productDtos.p_name;
                appendTag += '</p>';
                appendTag += '<img class="profile_img" src="';
                appendTag += userDtos.u_img;
                appendTag += '"/>'
                appendTag += '<span class="user_name">'
                appendTag += userDtos.u_id;
                appendTag += '</span>';
                appendTag += '</div>';
                appendTag += '</td>';

                cnt++;
            }
        }
        appendTag += '</tr>';

        $('div.list_wrap table tbody').append(appendTag);

    }

    function ajax_getLikeList(type) {
        console.log('ajax_getProductList()');

        $.ajax({
            url: '/user/get_like_list',
            method: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log('AJAX SUCCESS - ajax_getProductList()');
                addBoardLikeListTr(data.likeDtos);
            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_getProductList()');


            }
        });
    }


</script>