<script th:fragment="js" type="text/javascript">

    let pageNum = 1;


    $(document).ready(function () {
        console.log("DOCUMENT READY!!");
        // 이벤트 핸들러 초기화(등록)
        init_product_events();

        ajax_getUserLikeProductList(pageNum);
    });

    // 이벤트 핸들러
    function init_product_events() {
        console.log("init_events()")

        // 페이지 번호 클릭 시
        $(document).on('click', '#section_wrap div.page_wrap > div.page_number a', function () {
            console.log('page number CLICK HANDLER');

            pageNum = $(this).data('pagenum');
            ajax_getUserLikeProductList(pageNum);
        });

        $(document).on('click', 'td > a.product_item_wrap', function () {
            let productNo = $(this).data("p_no");
            ajax_updateHitCount(productNo);
        })
    }

    // 인테리어 상품 리스트 출력 함수
    function addLikeProductsListTr(productDtos, isLikedDtos, u_id) {
        console.log("addLikeProductsListTr()");
        let appendTag = '';
        let cnt = 0;

        for (let i = 0; i < productDtos.length / 4 + 1; i++) {
            appendTag += '<tr class="product_container_wrap">';

            for (let j = 0; j < 4; j++) {
                if (productDtos[cnt] == null) {
                    break;
                }

                let price = parseInt(productDtos[cnt].p_sales_price).toString()
                    .replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");

                appendTag += '<td>';
                appendTag += '<a class="product_item_wrap" href="';
                appendTag += productDtos[cnt].p_link;
                appendTag += '" target="parent"';
                appendTag += 'data-p_no="';
                appendTag += productDtos[cnt].p_no;
                appendTag += '">';
                appendTag += '<div class="product_container">';
                appendTag += "<div class='product_img'>";
                appendTag += "<img src='";
                appendTag += productDtos[cnt].p_img;
                appendTag += "'/>";
                appendTag += '</div>';
                appendTag += ' <span class="product_brand">';
                appendTag += productDtos[cnt].p_brand;
                appendTag += '</span>';
                appendTag += '<p class="product_name">';
                appendTag += productDtos[cnt].p_name;
                appendTag += '</p>';
                appendTag += '</div>';
                appendTag += '</a>';
                appendTag += '<div class="product_price_area">';

                appendTag += '<div>';
                appendTag += '<span class="product_sales_price_tag">판매가';
                appendTag += '</span>';
                appendTag += '<span class="product_sales_price">';
                appendTag += price;
                appendTag += '원</span>';
                appendTag += '</div>';
                appendTag += '</div>';
                appendTag += '<div class="like_hit_wrap">';
                appendTag += '<a class="like_board_btn"';
                appendTag += 'href="#none" ';
                appendTag += 'data-p_no="';
                appendTag += productDtos[cnt].p_no;
                appendTag += '">';
                if (u_id != undefined && u_id != "please_login" && isLikedDtos.length > 0) {
                    for (let k = 0; k < isLikedDtos.length; k++) {
                        if (isLikedDtos[k].l_content_no == productDtos[cnt].p_no && isLikedDtos[k].u_id == u_id) {
                            appendTag += '<img class="full_heart" src="/imgs/full_heart.png" data-p_no="';
                            appendTag += productDtos[cnt].p_no;
                            appendTag += '">';
                            break;
                        } else if (isLikedDtos[k].l_content_no != productDtos[cnt].p_no || isLikedDtos[k].u_id != u_id) {
                            if (k == isLikedDtos.length - 1) {
                                appendTag += '<img class="empty_heart" src="/imgs/empty_heart.png" data-p_no="';
                                appendTag += productDtos[cnt].p_no;
                                appendTag += '">';
                            }
                            continue;
                        }
                    }
                } else {
                    appendTag += '<img class="empty_heart" src="/imgs/empty_heart.png" data-p_no="';
                    appendTag += productDtos[cnt].p_no;
                    appendTag += '">';
                }
                appendTag += '</a>';
                appendTag += '<span class="like_count">';
                appendTag += productDtos[cnt].p_like;
                appendTag += '</span>';
                appendTag += '<div class="hit_area">';
                appendTag += '<img class="hit_img" src="/imgs/hit.png">'
                appendTag += '<span class="hit_count">';
                appendTag += productDtos[cnt].p_hit;
                appendTag += '</span>';
                appendTag += '</div>';
                appendTag += '</div>';

                appendTag += '</td>';

                cnt++;
            }
            appendTag += '</tr>';
        }

        $('div.product_item_list table tbody').append(appendTag);
    }


    // 인테리어 상품 1개 재구성(좋아요 시)
    function reconstructionTdForLike(productDto, isLike) {
        // let productNo = productDto.p_no;
        for (let i = 0; i < $('a.like_board_btn').length; i++) {
            if ($('a.like_board_btn').eq(i).data("p_no") == productDto.p_no) {
                $('a.like_board_btn').eq(i).children().remove();

                let appendTag = '';

                if (isLike > 0) {
                    appendTag += '<img class="full_heart" src="/imgs/full_heart.png">';
                } else {
                    appendTag += '<img class="empty_heart" src="/imgs/empty_heart.png">';

                }
                $('a.like_board_btn').eq(i).append(appendTag);

                $('span.like_count').eq(i).text(productDto.p_like);

                break;
            }
        }
    }

    // 인테리어 상품 1개 재구성(조회 시)
    function reconstructionTdForHit(productDto) {
        for (let i = 0; i < $('a.like_board_btn').length; i++) {
            if ($('a.like_board_btn').eq(i).data("p_no") == productDto.p_no) {
                $('span.hit_count').eq(i).text(productDto.p_hit);
                break;
            }
        }
    }

    // 인테리어 상품 리스트 초기화
    function removeProductsListTr() {
        console.log("remove")
        $('div.product_item_list table tbody').children().remove();
    }

    // 페이지 네이션 구성
    function setPage(pageMakerDto) {
        console.log('setPage() CALLED!!');

        /* PAGE UI */
        $('#section_wrap div.page_wrap > div.page_number').children().remove();

        // 이전 페이지
        if (pageMakerDto.prev) {
            $('#section_wrap div.page_wrap > div.page_number').append('<a href="#none" data-pagenum="' + (pageMakerDto.startPage - 1) + '">PRE</a>');
        }

        // 처음 페이지
        if (pageMakerDto.criteria.pageNum > 10) {
            $('#section_wrap div.page_wrap > div.page_number').append('<a href="#none" data-pagenum="1">1</a><span>...</span>');
        }

        // 페이지 넘버링
        for (let p = parseInt(pageMakerDto.startPage); p <= parseInt(pageMakerDto.endPage); p++) {
            $('#section_wrap div.page_wrap > div.page_number').append('<a href="#none" data-pagenum="' + p + '">' + p + '</a>');
        }

        // 페이지 하이라이트
        $('#section_wrap div.page_wrap > div.page_number a[data-pagenum=' + pageMakerDto.criteria.pageNum + ']').addClass('selectedPageNum');

        // 다음 페이지
        if (pageMakerDto.next) {
            $('#section_wrap div.page_wrap > div.page_number').append('<a href="#none" data-pagenum="' + (pageMakerDto.endPage + 1) + '">NEX</a>');
        }

        // 전체 페이지
        $('#section_wrap div.page_wrap > div.page_goto > span.page_total_num').text(pageMakerDto.totalPage);

    }

    // AJAX START
    function ajax_getUserLikeProductList(pageNum) {
        console.log('ajax_getUserLikeProductList()');
        console.log(pageNum);

        $.ajax({
            url: '/user/get_user_like_products?pageNum=' + pageNum,
            method: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log('AJAX SUCCESS - ajax_getUserLikeProductList()');
                removeProductsListTr();
                addLikeProductsListTr(data.productDtos, data.isLikedDtos, data.u_id);
                setPage(data.pageMakerDto);
            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_getUserLikeProductList()');

            }
        });
    }

    function ajax_updateHitCount(no) {
        console.log("ajax_updateHitCount()")
        let msgDto = {
            "no": no
        }
        $.ajax({
            url: '/product/update_product_hit',
            method: 'POST',
            data: JSON.stringify(msgDto),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                reconstructionTdForHit(data.productDto);
            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_updateHitCount()');

            }
        });
    }

    // AJAX END

</script>