<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:replace="~{/include/title.html::title}"></title>

<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">
<link rel="stylesheet" th:href="@{/css/create_account_form.css}">

</head>
<body>
	
	<header th:replace="~{/include/header_nav_footer.html::header}">
	</header>

	<section>
		<div id="section_wrap">
		
			<div class="word">
				MEMBER LOGIN SUCCESS
			</div>
			
		</div>
	</section>
	
	<footer>
	</footer>
	
</body>
</html>