<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:replace="~{/include/title.html::title}"></title>

<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">

</head>
<body>
	
	<header th:replace="~{/include/header_nav_footer.html::header}">
	</header>
	
	<section>
		<div id="section_wrap">
		
			<div class="word">
				CREATE ACCOUNT FAIL
			</div>
			
			<div class="go_create_account_form">
				<a th:href="@{/member/create_account_form}">Sorry. Please try again create account.</a>
			</div>
			
		</div>
	</section>
	
	<footer th:replace="~{/include/header_nav_footer.html::footer}">
	</footer>
	
</body>
</html>