<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title th:replace="~{include/title.html::title}"></title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">
    <link rel="stylesheet" th:href="@{/css/user/user_nav.css}">
    <link rel="stylesheet" th:href="@{/css/user/user_like_board_list.css}">

    <script th:replace="~{include/common_js.html::jquery_cdn}" type="text/javascript"></script>

    <script th:replace="~{include/user_like_board_list_js.html::js}" type="text/javascript"></script>
    <script th:replace="~{user/include/like_js.html::js}" type="text/javascript"></script>
</head>
<body>
<header th:replace="~{include/header_nav_footer.html::header}"/>

<section id="section_wrap">
    <div th:replace="~{include/user_nav_left.html::nav_left}"/>
    <div class="user_section_wrap">
        <div class="section_body">
            <div class="search_board_wrap">
                <input type="text" name="b_search" placeholder="게시물 제목을 입력해주세요.">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 512 512" class="search_btn">
                    <path style="fill:#b9b9b9" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                </svg>
            </div>
            <div class="detail_category">
                <div class="select">
                    <select class="sortSelect">
                        <option value="0" selected>최신순</option>
                        <option value="1">좋아요순</option>
                        <option value="2">조회순</option>
                    </select>
                </div>

                <a class="write" th:if="${session.loginedMemberDto != null}" th:href="@{/board/board_write_form}">글쓰기</a>
                <a class="write no_login" th:unless="${session.loginedMemberDto != null}" th:href="@{/board/board_write_form}">글쓰기</a>
            </div>
            <div class="board_wrap">
                <p class="board_total">전체&nbsp<span class="board_cnt"></span></p>
                <table class="board_list">
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="board_item_list">
                <table>
                    <tbody></tbody>
                </table>
            </div>
            <div class="page_wrap">

                <div class="page_number">

                </div>
            </div>
        </div>
    </div>
</section>
</body>


</html>