<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title th:replace="~{/include/title.html::title}"></title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">
    <link rel="stylesheet" th:href="@{/css/user/user_nav.css}">
    <link rel="stylesheet" th:href="@{/css/user/user_board_list.css}">
    <link rel="stylesheet" th:href="@{/css/user/user_like_product_list.css}">

    <script th:replace="~{/include/user_like_product_list_js.html::js}" type="text/javascript"></script>
    <script th:replace="~{/user/include/like_js.html::js}" type="text/javascript"></script>
</head>
<body>
<header th:replace="~{/include/header_nav_footer.html::header}"/>

<section id="section_wrap">
    <div th:replace="~{/include/user_nav_left.html::nav_left}"/>
        <div class="section_body">
        <div class="word">
            <h3>좋아요 한 상품</h3>
        </div>
            <div class="product_item_list">
                <table>
                    <tbody></tbody>
                </table>
            </div>

            <div class="page_wrap">

                <div class="page_number">

                </div>
            </div>

        </div>
    </div>
</section>

</body>


</html>