h2.section_title {
    margin-bottom: 30px;
}

div.search_wrap {
    margin-bottom: 40px;
}

div.search_area {
    position: relative;
}

div.search_area > input.form-control2 {
    width: 200px;
    padding: 10px 20px;
    border-radius: 25px;
    outline: none;
    border: 1px solid #dadada;
    font-size: 18px;
}

div.search_area > button.form-control {
    width: 50px;
    background-color: #fff;
    border: none;
    position: absolute;
    left: 190px;
    top: 15px;
    cursor: pointer;
}

div.search_area > button.form-control:hover {
    color: rgb(248, 92, 15);
}

.table-board{
    width: 100%;
    border-collapse: collapse;
}

.table-board thead {
    border-bottom: 1px solid #a4a2a2;
}

.table-board th {
    font-size: 20px;
    padding-bottom: 10px;
}

.table-board th:nth-child(1) {
    width: 15%;
}

.table-board th:nth-child(2) {
    width: 35%;
}

.table-board th:nth-child(3) {
    width: 30%;
}

.table-board th:nth-child(4) {
    width: 10%;
}

.table-board th:nth-child(5) {
    width: 10%;
}
.table-board td {
    font-size: 18px;
}

.table-board tbody > tr {
    border-bottom: 1px solid #dadada;
}

.table-board tbody td {
    padding: 10px 0;
}

.table-board tbody > tr > td:nth-child(2),
.table-board tbody > tr > td:nth-child(3) {
    padding-left: 10px;
}

.table-board tbody > tr > td:nth-child(4),
.table-board tbody > tr > td:nth-child(5) {
    text-align: center;
}

.table-board tbody > tr > td:nth-child(5) > a:hover {
    color: rgb(248, 92, 15);
}

td > button {
    width: 50px;
    font-size: 22px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}
td > button:hover {
    color: rgb(248, 92, 15);
}

a.reg {
    float: right;
    font-size: 25px;
}
a.reg:hover {
    color: rgb(248, 92, 15);
}