@import url("https://fonts.googleapis.com/css2?family=Poor+Story&family=Quicksand:wght@300&display=swap");
* {
	margin: 0; padding: 0;
	font-family: "Poor Story", cursive;
}

a {
	color: #404040;
	text-decoration: none;
}

li {
	list-style: none;
}