.on{
    background-color: rgb(237, 175, 175);
    color: #ffffff;
    width: 100%;
    padding: 10px 0;
    min-width: 1600px;
    text-align: center;
}

.active_menu {
    color: rgb(122,122,220);
}

.logo {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 10px;
}

.search_bar_wrap{
    position: relative;
    width: 520px;
    margin: 0 auto;
}

.search_bar_wrap svg {
    position: absolute;
    right: 0;
    top: 13px;
    cursor: pointer;
}

.search_bar input {
    width: 500px;
    padding: 15px 20px 15px 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}


#user-actions {
    text-align: right;
    padding-right: 30px;
}

#user-actions a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 5px;
    font-size: 22px;
}

nav {
    background-color: #fff;
    width: 100%;
    margin: 30px auto;
    text-align: center;
    min-width: 1600px;
}

nav a {
    display: inline-block;
    text-align: center;
    margin-right: 50px;
}

nav img {
    width: 70px;
    height: 70px;
}

footer {
    color: #333;
    text-align: center;
    min-width: 1600px;
}

