.on{
    background-color: rgb(237, 175, 175);
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    min-width: 1600px;
}

.active_menu {
    color: rgb(122,122,220);
}


.search_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 0 20px;
    position: relative;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
    color: #fff;
}

.search_bar input {
    width: 500px;
    padding: 15px 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.search_bar > svg {
    position: absolute;
    right: 330px;
    cursor: pointer;
}
#user-actions {
    margin-right : 150px;
}

#user-actions a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 5px;
}

nav {
    background-color: #fff;
    width: 100%;
    margin: 30px auto;
    text-align: center;
    min-width: 1600px;
}

nav a {
    display: inline-block;
    text-align: center;
    margin-right: 50px;
}

nav img {
    width: 70px;
    height: 70px;
}

footer {
    color: #333;
    text-align: center;
    min-width: 1600px;
}

