<script th:fragment="js" th:inline="javascript" type="text/javascript">

    $(document).ready(function(){
        console.log("DOCUMENT 222READY!!");

        // 이벤트 핸들러 초기화(등록)
        init_like_events();
    });


    function init_like_events(){
        $(document).on('click','a.like_product_btn',function (e){
            e.preventDefault();
            let p_no = $(this).data("p_no");
            console.log("p_no ++++++" + p_no);
            let loginedMemberDto = [[${session.loginedMemberDto}]];
            if(loginedMemberDto == null){
                $('div.modal_wrap').css('display','block');
            }else{
                if($(this).find("img.full_heart").attr('class') == "full_heart"){
                    ajax_updateLikeCount("cancel", 1, p_no, loginedMemberDto.u_id);
                }else{
                    ajax_updateLikeCount("like", 1, p_no, loginedMemberDto.u_id);
                }

            }

        })

        $(document).on('click','a.like_board_btn', function (e) {
            e.preventDefault();
            let b_no = $(this).data("b_no");
            console.log("b_no : " + b_no);

            let loginedMemberDto = [[${session.loginedMemberDto}]];
            if(loginedMemberDto == null){
                $('div.modal_wrap').css('display','block');
            }else{
                if($(this).find("img.full_heart").attr('class') == "full_heart"){
                    ajax_updateLikeCount("cancel", 2, b_no, loginedMemberDto.u_id);
                }else{
                    ajax_updateLikeCount("like", 2, b_no, loginedMemberDto.u_id);
                }

            }
        })

    }

   function ajax_updateLikeCount(method, type, no, u_id){
       console.log('ajax_updateLikeCount() CALLED!!');

       let msgDto = {
           'method' : method,
           'type': type,
           'no': no,
           'u_id' : u_id
       };

       let str = '/like/like_confirm';
       $.ajax({
           url: str,
           method: 'POST',
           data: JSON.stringify(msgDto),
           contentType: 'application/json; charset=utf-8',
           success: function(data) {
               console.log('AJAX SUCCESS - ajax_updateLikeCount()');

               switch (type){
                   case 1:
                       reconProductTdForLike(data.productDto, data.isLike);
                       break;
                   case 2:
                       reconBoardTdForLike(data.boardDto, data.isLike)
                       break;
                   case 3:
                       break;
               }

           },
           error: function(data) {
               console.log('AJAX ERROR - ajax_updateLikeCount()');

           }
       });
   }

</script>




